/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body{
    background-color: #25283D;
    width: 100 rem;
}
:root{
    --space-indigo: #25283dff;
--grape-soda: #8f3985ff;
--amethyst-smoke: #a675a1ff;
--rosy-taupe: #cea2acff;
--powder-petal: #efd9ceff;
--vintage-grape: #442b48ff;
--dim-grey: #726e60ff;
--muted-olive: #98b06fff;
--yellow-green: #b6dc76ff;
--lime-cream: #dbff76ff;
}
.kontainer{
    margin: auto;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "head head"
        "unit unit"
        "info info"
        "aside aside"
        "footer footer" 
        ;
    gap: 1em;
    border: solid 1vh black;
    padding: 2em;
    background-color: #8F3985;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 55rem;
}

header{
    grid-area: head;
    margin-bottom: 1em;
}
header h1{
    text-align: center;
}
header nav{
    text-align: center;
    padding: 2em;
    background-color: red;
}
header nav a{
    background-color: var(--dim-grey);
    padding: 1em;
}
header nav a.aktiv{
    background-color: var(--lime-cream);
}
main article{
    margin-bottom: 10px;
    
}

 /* Overbar is everything in the segment between the title/menu and the Unit info */
.overbar{
    border: solid black 1vh;
    margin-bottom: 1em;
    padding: 1em;
    grid-area: unit;
    display: flex;
    justify-content: space-between;
}
.overbar h2{
    padding: 1em;
    font-size: 2em;
}
.overbar img{
    height: 7rem
}
 .overbar img.unit{
grid-area: unit;
width: 40%;
}
.overbar img.sigil{
border-radius: 3em;
} 
main article figure{
    height: auto;
    margin: auto;
    
}
main article figure img{
    border: solid purple 1em;
    width: 40%;
}

/* INformation of the Unit being shown */
 main .Gubbinfo{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
    grid-area: info;
    padding: 1em;
    margin-bottom: 1em;
}
.Gubbinfo article{
    border: solid black 1vh;
    padding: 2em; 
}
.Gubbinfo article img{
    height: auto;
    width: 100%;
}
.Gubbinfo figure article img{
    width: 75%;
}
main article .utilities{
    display: flex;
    justify-content: space-between;
    gap: 5em;
    padding: 2em;
    margin: auto;
}
main article p{
    margin-bottom: 1em;
}
h4{
    margin-bottom: 1em;
    font-size: 2em;
}

aside{
    grid-area: aside;
    border: solid black 1vh;
    padding: 2em;
}
aside ul{
    display: flex;
    
    }
aside a{
    text-decoration: none;
    color: var(--rosy-taupe);
    background-color: var(--space-indigo);
    padding: 1vh;
    border-radius: 1em;
    box-shadow: 1vh 1vh 1vh black;
}
aside a:hover{
    color: rebeccapurple;
    box-shadow: none;
    
}
aside li{
margin-top: 1em;
}
aside a.aktivaside{
    background-color: var(--lime-cream);
}
footer{
    grid-area: footer;
}

/* Ändrar hemsidan beroende på mängden pixlar */
@media (min-width: 768px) {
    .kontainer {
        grid-template-columns: auto 1fr;
        grid-template-areas:
        "head head"
        "unit unit"
        "info aside" 
        "footer footer"
    }   
    aside ul{
        display: block;
        }
    
}
/* @media (min-width: 1024px) {
    .layout {
        grid-template-columns: 20em 1fr 20em;
        grid-template-areas:
            "header header header"
            "nav main aside"
            "footer footer footer";
    }
} */
