/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
    width: 1000px;
}
.kontainer{
    margin: auto;
    width: 75%;
    padding: 20px;
    display: grid;
    grid-template-areas: 1fr 2fr;
    grid-template-areas: 
    "head head"
    "Unit Unit "
    "Info Aside"
    "footer footer"
    ;
    gap: 20px;
    border: solid 3px black;
    padding: 30px;
    background-color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
header{
    grid-area: head;
    margin-bottom: 10px;
}
header h1{
    text-align: center;
}
header nav{
    text-align: center;
    padding: 20px;
    background-color: red;
}
header nav a{
    background-color: purple;
    padding: 10px;
}
header nav a.aktiv{
    background-color: pink;
}
main{

}
main article{
    margin-bottom: 10px;
}

main .overbar{
    border: solid black 3px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 10px;
    padding: 10px;
}
main article figure{}
main article figure img{
    width: 70%;
    height: auto;
    border: solid purple 3px;
}

.Gubbinfo{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    grid-area: Info;
    border: solid black 3px;
    padding: 10px;
    margin-bottom: 10px;
}
.Gubbinfo article{
    border: solid black 3px;
    padding: 10px;
}
main article .utilities{
    display: flex;
    gap: 50px;
    padding: 20px;
    margin: auto;
}


aside{
    grid-area: Aside;
    border: solid black 3px;
    padding: 20px;
}
main aside a{
    /* border: solid black 3px */
}
main aside a.aktivaside{}
footer{
    /* border: solid black 3px; */
    grid-area: footer;
}
