/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
body{
    background-color: #25283D;
    width: 65 rem;
}
:root{
    --space-indigo: #25283dff;
--grape-soda: #8f3985ff;
--amethyst-smoke: #a675a1ff;
--rosy-taupe: #cea2acff;
--powder-petal: #efd9ceff;
--vintage-grape: #442b48ff;
--dim-grey: #726e60ff;
--muted-olive: #98b06fff;
--yellow-green: #b6dc76ff;
--lime-cream: #dbff76ff;
}
.kontainer{
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "head head"
    "unit unit"
    "info aside"
    "footer footer"
    ;
    gap: 20px;
    border: solid 3px black;
    padding: 30px;
    background-color: #8F3985;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}
header{
    grid-area: head;
    margin-bottom: 10px;
}
header h1{
    text-align: center;
}
header nav{
    text-align: center;
    padding: 20px;
    background-color: red;
}
header nav a{
    background-color: var(--dim-grey);
    padding: 10px;
}
header nav a.aktiv{
    background-color: var(--lime-cream);
}
main{

}
main article{
    margin-bottom: 10px;
}

.overbar{
    border: solid black 3px;
    margin-bottom: 10px;
    padding: 10px;
    grid-area: unit;
    display: flex;
    justify-content: space-between;
}
.overbar h2{
    padding: 30px;
    font-size: 40px;
}
.overbar img{
    height: 7rem
}
/* .overbar h2{
    grid-area: title;
} */
 .overbar img.unit{
grid-area: unit;
width: 25rem
}
.overbar img.sigil{

} 
main article figure{}
main article figure img{
    height: auto;
    border: solid purple 3px;
}

 main .Gubbinfo{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    grid-area: info;
    padding: 10px;
    margin-bottom: 10px;
}
.Gubbinfo article{
    border: solid black 3px;
    padding: 20px;
}
main article .utilities{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
    margin: auto;
}
main article p{
    margin-bottom: 10px;
}
h4{
    margin-bottom: 10px;
}

aside{
    grid-area: aside;
    border: solid black 3px;
    padding: 20px;
}
main aside a{
    /* border: solid black 3px */
}
main aside a.aktivaside{}
footer{
    /* border: solid black 3px; */
    grid-area: footer;
}
